header
    #leftHeader
        img#logo(src='assets/logo.png')
        h1 LaTeX Latte
    #navbar
        button#playOnline Play Online
        | 
        a.headerLink(href="/upload") Upload
        | 
        a.headerLink(href="/flashcards") Flashcards
        | 
        a.headerLink(href="/logout") Log Out
    #darkModeToggle(onclick="toggleDarkMode()" href="#") 🌙