html
	head
		title LaTeX Latte Login
		//- link(rel="icon", type="image/x-icon", href="favicon.ico")
		link(rel='stylesheet' href='styles/login.css')

	body(style="text-align: center;")
		header
			#leftHeader
				img#logo(src='assets/logo.png')
				h1 LaTeX Latte
			#darkModeToggle(href="#") 🌙
		main 
			div#loginMain
				div#loginForm
					h2 Login/Signup
					input#username(type='text', name= 'username' required, placeholder="Username")
					br
					br
					input#password(type='password', name= 'password' required, placeholder="Password")
					br
					br
					button#loginButton Sign In
					button#registerButton Register
	script(src="../../login.js")