doctype html
head
  meta(charset='utf-8')
  title LaTeX Latte
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='')
body
  label(for='uploadTex') Upload your LaTeX file: 
  input#uploadTex(type='file' accept='.tex')
  button#generateButton Generate!
