doctype html
head
  meta(charset='utf-8')
  title LaTeX Latte
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='styles/main.css')
body
  include ../partials/header
  main
    .coffeeSleeveContainer
      .coffeeSleeve
        .fileUploadWrapper
          label(for='uploadTex') Upload your LaTeX file: 
          input#uploadTex(type='file' accept='.tex')
      br
      button#generateButton Generate!
      select#courseSelector Courses
        each option in options
          option(value=option) #{option}
      input#courseField(type='text', name= 'coursecode' required, placeholder="CourseCode")
      button#addCourseButton Add Course
script(src='../client.js')
script(src='../courses.js')