@import url(root.css);

.coffeeSleeveContainer{
    text-align: center;
}

.coffeeSleeve{
    justify-content: center;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 100%);
    width: 70%;
    height: 100%;
}
.fileUploadWrapper{
    text-align: center;
    background: var(--backgroundtertiary);
    border: dashed 3px var(--backgroundsecondary);
    padding: 1em;
    padding-top:50px;
    padding-bottom:50px;
    cursor: pointer;
    align-items: center;
}

#uploadTex{
    font-family: var(--primaryfont);
    font-size: 1em;
}

#uploadTex::file-selector-button {
    margin-left: 10px;
    font-family: var(--primaryfont);
    background-color: var(--backgroundsecondary);
    color: var(--textdarker);
    margin: 0.5em;
    cursor: pointer;
}

#generateButton{
    font-family: var(--primaryfont);
    background-color: var(--backgroundsecondary);
    color: var(--textdarker);
    padding: 0.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0.5em;
    cursor: pointer;
    
}