@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Satisfy&display=swap');
/* Colour Scheme */
:root{
    --backgroundprimary: #ead4b8;
    --backgroundsecondary: #dbbc93;
    --backgroundtertiary: #ae875e;
    --accentprimary: #499c8c;
    --accentsecondary: #f44336;
    --accenttertiary: #e1bb88;
    
    --textlight: #ead4b8;
    --textdark: #282828;

    --linkcolour: #378959;
    
    --primaryfont: "Kalam", serif;
    --secondaryfont: "Satisfy", sans-serif;
}

.code{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--accenttertiary);
    font-weight: 550;
    color: var(--accentprimary);
}

/* Global Styles */

body {
    background-color: var(--backgroundsecondary);
    font-family: var(--primaryfont);
    color: var(--textdarker);
    font-size: 1em;
    margin-right:15%;
    margin-left: 15%;
}

main{
    border-radius: 0 0 20px 20px;
    background-color: var(--backgroundprimary);
    padding-top:20px;
    padding-bottom: 20px;
   
}

footer {
    margin-top: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}

h1 {
    font-family: var(--secondaryfont), sans-serif;
    font-style: italic;
    color: var(--backgroundprimary);
    font-size: 2em;
}

a{
    color: var(--linkcolour);
}

header {
    border-radius: 20px 20px 0 0;
    padding-left: 5%;
    padding-right: 5%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accentprimary);
    justify-content: center;
}

header h1{
    margin-left: 10px;
}

header a{
    color: var(--backgroundprimary);
    text-decoration: 1px underline var(--accenttertiary);
}

#darkModeToggle{
    cursor: pointer
}

#leftHeader{
    margin-right: auto;
    display: flex;
    align-items: center;
}

#logo{
    max-width: 50px;
    max-height: 50px;
}

#navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#darkModeToggle{
    text-decoration: none;
    color: transparent;  
    text-shadow: 0 0 0 var(--backgroundprimary);
    font-size: large;
    margin-left: auto;
}

button{
    font-family: var(--primaryfont);
    background-color: var(--backgroundsecondary);
    color: var(--textdarker);
    padding: 0.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius:10px;
    border: solid 2px var(--accentprimary)
}

input:focus{
    outline: var(--accentprimary)
}

@media only screen and (max-width:800px) {
    body{
        margin-right:8%;
        margin-left: 8%;
    }
    header h1{
        display:none;
    }
}